include README.md
include LICENSE
include CHANGELOG.md
recursive-include src/linkbiosite/templates *
recursive-include src/linkbiosite/assets *
global-exclude *.pyc
global-exclude __pycache__
global-exclude .DS_Store
global-exclude *.egg-info